#zombify-main-section.zf-story .zf-start .zf-add-component i,
#zombify-main-section .zf-uploader .zf-label .zf-label_text,
#zombify-main-section.zf-story .zf-components .zf-components_plus,
#zombify-main-section .zf-checkbox-currect input:checked+.zf-toggle .zf-icon,
#zombify-main-section-front .zf-list .zf-next-prev-pagination .zf-nav,
#zf-fixed-bottom-pane .zf-button,
.zf-fixed-bottom-pane .zf-button,
.zf-create-box .zf-item:hover .zf-wrapper,
#zombify-main-section-front .zf-poll .zf-quiz_answer .zf-poll-stat,
#zombify-main-section .zf-button,
#zombify-main-section .zf-upload-content .zf-uploader .zf-label .zf-icon,
.zombify-submit-popup .zf-content .zf-btn-group .zf-btn.zf-create,
#zombify-main-section .zf-progressbar .zf-progressbar-active,
#zombify-main-section-front .zf-quiz .zf-quiz_answer.zf-input .zf-quiz-guess-btn {
  background-color:#e9692c
}
#zombify-main-section .zf-item-wrapper .zf-body.zf-numeric .zf-index,
#zombify-main-section.zf-meme .zf-options .zf-options_toggle,
#zombify-main-section-front .zf-comments .bypostauthor > .comment-body .vcard .fn,
#zombify-main-section #zf-options-section .zf-head .zf-icon,
.zf-create-box .zf-item .zf-icon,
#zombify-main-section .zf-item-wrapper .zf-type-wrapper,
#zombify-main-section-front .zf-quiz .zf-quiz_question .zf-quiz_header .zf-number,
.zombify-create-popup .zf-popup_close:hover i,
.zombify-submit-popup .zf-popup_close:hover i,
.zf-desktop #zombify-main-section.zf-story .zf-components .zf-add-component:hover,
#zombify-main-section.zombify-personality-quiz .zf-item-wrapper .zf-type-wrapper,
#zombify-main-section.zf-story .zf-item-wrapper .zf-type-wrapper,
#zombify-main-section-front .zf-create-page .zf-title,
#zombify-main-section-front a,
#zombify-main-section-front .zf-list .zf-list_item .zf-list_header .zf-number,
.zf-desktop #zombify-main-section-front .zf-list .zf-list_item .zf-list_header .zf-list_title:hover a,
#zombify-main-section .fr-toolbar .fr-command.fr-btn.fr-active,
.fr-popup .fr-command.fr-btn.fr-active,
#zombify-main-section h1,
#zombify-main-section h2,
#zombify-main-section h3,
#zombify-main-section h4,
#zombify-main-section h5,
#zombify-main-section h6,
#zombify-main-section h1,
#zombify-main-section h2,
#zombify-main-section h3,
#zombify-main-section h4,
#zombify-main-section h5,
#zombify-main-section h6 {
  color:#e9692c
}
.zf-fixed-bottom-pane,
#zombify-main-section .zf-button,
#zombify-main-section .zf-checkbox-currect input:checked+.zf-toggle .zf-icon,
#zombify-main-section .fr-toolbar,
#zf-fixed-bottom-pane .zf-button,
.zf-fixed-bottom-pane .zf-button,
#zombify-main-section-front .zombify-comments .zf-tabs-menu li.zf-active,
#zf-fixed-bottom-pane {
  border-color:#e9692c
}
